services:
  app:
    restart: always
    build:
      context: .
      dockerfile: docker/dev.dockerfile
    volumes:
      - ./:/app/
    ports:
      - 8156:8156

  frontend:
    restart: always
    image: node:25-alpine
    working_dir: /app
    command: sh -c "yarn && yarn dev"
    volumes:
      - ./web:/app/
    ports:
      - 5173:5173

  yarn:
    profiles:
      - dev
    image: node:25-alpine
    working_dir: /app
    entrypoint: yarn
    volumes:
      - ./web:/app/

  go:
    profiles:
      - dev
    image: golang:1.25.3-alpine
    working_dir: /app
    entrypoint: go
    volumes:
      - .:/app/

  types:
    profiles:
      - dev
    image: node:25-alpine
    working_dir: /app
    command: sh -c "wget -qO- http://host.docker.internal:8156/api/openapi.json -O web/openapi.json && (cd /app/web && yarn && yarn types)"
    volumes:
      - ./:/app/
