@import 'tailwindcss';
@plugin "daisyui";

@plugin 'daisyui/theme' {
    name: light;
    default: true;
    prefersdark: false;
}

@plugin 'daisyui/theme' {
    name: dark;
    default: false;
    prefersdark: true;
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;

    @media (width >=theme(--breakpoint-sm)) {
        padding-inline: 2rem;
    }

    @media (width >=theme(--breakpoint-lg)) {
        padding-inline: 4rem;
    }

    @media (width >=theme(--breakpoint-xl)) {
        padding-inline: 5rem;
    }

    @media (width >=theme(--breakpoint-2xl)) {
        padding-inline: 6rem;
    }
}