@import 'tailwindcss';
@plugin "daisyui";

@plugin 'daisyui/theme' {
    name: corporate;
    default: true;
    prefersdark: false;
}

@plugin 'daisyui/theme' {
    name: business;
    default: false;
    prefersdark: true;
    --color-primary: #0082ce;
}

@utility container {
    margin-inline: auto;
    padding: 2rem 1rem;
}