@import 'tailwindcss';
@plugin "daisyui";

@plugin 'daisyui/theme' {
  name: corporate;
  default: true;
  prefersdark: false;
}

@plugin 'daisyui/theme' {
  name: business;
  default: false;
  prefersdark: true;
}

@utility container {
  margin-inline: auto;
}

@utility nav-btn {
  @apply btn btn-square btn-xl;
}

@utility hover {
  @apply hover:cursor-pointer hover:bg-primary hover:text-primary-content;
}
